# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# IDE files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Logs
logs
*.log

# Test coverage
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln